{% extends 'base.html' %}
<!--Title of the page-->
{% block title %}
Topoguide - Index
{% endblock %}

{% block body %}

<h1>Itinéraires</h1>
{% if route_list %}

<form action="{% url 'itin:index' %}" method="get">
    <input class="normal" id="searchbox" name="search_term" type="text" placeholder="Search">
    <button class="normal" type="submit"><i class="normal">Search</i>
    </button>
</form>

<form action="{% url 'itin:index' %}" method="get">
    <label for="difficulty">Difficulté : </label>
    1 <input class="normal" type="range" id="difficulty" name="difficulty" step="1" min="1" max="5" value="5"> 5
    <br>
    <label for="duration">Durée entre </label>
    <input class="normal" type="time" id="duration_inf" name="duration_inf" value="00:00">
    <label for="duration"> et </label>
    <input class="normal" type="time" id="duration_sup" name="duration_sup">
    <br>
    <button class="normal" type="submit"><i class="normal">Filtrer</i>
    </button>
</form>

<table>
    <tr>
        <th>Itinéraire</th>
        <th>Durée estimée</th>
        <th>Difficulté estimée</th>
    </tr>
    {% for route in route_list %}
    <tr>
        <td>
            <!--Goes to this route-->
            <a href="{% url 'itin:detail_route' route.id%}">
                {{ route.title }}</a>
        </td>
        <td>{{ route.time_display }}</td>
        <td>{{ route.estim_difficulty }}/5</td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>Pas d'itinéraires disponibles, connectez vous en tant qu'administrateur à <a href="/admin">la page d'administration</a> pour en créer</p>
{% endif %}

{% endblock %}