{% extends 'base.html' %}
<!--Title of the page-->
{% block title %}
{{ route.title }} - Détails
{% endblock %}

{% block head %}
<style>
    #map { height: 500px; width : 50%}
</style>
{% endblock %}

{% block body %}




<h1>Sorties de {{ route.title }}</h1>
<div id="map"></div>

<table>
    <tr>
        <th>Altitude de départ</th>
        <td>{{ route.base_height }} m</td>
    </tr>
    <tr>
        <th>Coordonnées départ</th>
        <td>{{ route.start_lon }}°, {{ route.start_lat }}°</td>
    </tr>
    <tr>
        <th>Coordonnées arrivée</th>
        <td>{{ route.arriv_lon }}°, {{ route.arriv_lat }}°</td>
    </tr>
    <tr>
        <th>Altitude minimale</th>
        <td>{{ route.min_height }} m</td>
    </tr>
    <tr>
        <th>Altitude maximale</th>
        <td>{{ route.max_height }} m</td>
    </tr>
    <tr>
        <th>Dénivelé cumulé positif</th>
        <td>{{ route.pos_elev_gain }} m</td>
    </tr>
    <tr>
        <th>Dénivelé cumulé négatif</th>
        <td>{{ route.neg_elev_gain }} m</td>
    </tr>
    <tr>
        <th>Durée estimée</th>
        <td>{{ route.time_display }}</td>
    </tr>
    <tr>
        <th>Difficulté estimée</th>
        <td>{{ route.estim_difficulty }}/5</td>
    </tr>

</table>

{% if trip_list %}
<table>
    <tr>
        <th>Par</th>
        <th>Durée réelle</th>
        <th>Difficulté ressentie</th>
    </tr>
    {% for trip in trip_list %}
    <tr>
        <td>{{ trip.user.username }}</td>
        <td>{{ trip.time_display }}</td>
        <td>{{ trip.difficulty_felt }}/5</td>
        <td>
            <a href="{% url 'itin:detail_trip' trip.id%}">
                <button class="button-31" >Consulter</button>
            </a>
        </td>
        {% if user == trip.user%}
        <td> 
            <a href="{% url 'itin:edit_trip' trip.id%}">
                <button class="button-31" >Modifier</button>
            </a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% else %}
    <p class="rawtext">Pas de sorties enregistrées. <br> Vous pouvez en créer une 
    en cliquant sur le boutton ce dessous : </p>
{% endif %}


<form action = "{% url 'itin:new_trip' %}" method = "get">
    <button class="button-85" name="route_id" value="{{route.id}}"> Nouvelle sortie</button>
</form>

<script>
    
    start_lon = {{ route.start_lon }}
    start_lat = {{ route.start_lat }}
    arriv_lon = {{ route.arriv_lon }}
    arriv_lat = {{ route.arriv_lat }}
    
    med_lon = (start_lon + arriv_lon)/2
    med_lat = (start_lat + arriv_lat)/2
    

    corner1 = L.latLng(start_lon, start_lat),
    corner2 = L.latLng(arriv_lon, arriv_lat),
    bounds = L.latLngBounds(corner1, corner2);
    //map
    var map = L.map('map', {
        center : [med_lon, med_lat]
    }).fitBounds(bounds);
    
    // add the OpenStreetMap tiles
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
    }).addTo(map);
    
    L.marker({lon: start_lat, lat: start_lon}).bindPopup('Départ').addTo(map);
    L.marker({lon: arriv_lat, lat: arriv_lon}).bindPopup('Arrivée').addTo(map);

    // show the scale bar on the lower left corner
    L.control.scale({imperial: false, metric: true}).addTo(map);
</script>

{% endblock %}