
{% extends 'base.html' %}
{% load bootstrap5 %}
<!--Title of the page-->
{% block title %}
Sortie de {{ trip.user.username }}
{% endblock %}

{% load static %}

{% block body %}

<h1>
    <a href="{% url 'itin:detail_route' trip.route.id%}">
        {{ route.title }} 
    </a> - Sortie de {{ trip.user.username }}
</h1>
<table>
    <tr>
        <th>Date de la sortie</th>
        <td>{{ trip.date }}</td>
    </tr>
    <tr>
        <th>Durée réelle</th>
        <td>{{ trip.time_display }}</td>
    </tr>
    <tr>
        <th>Nombre de participants</th>
        <td>{{ trip.number_people }}</td>
    </tr>
    <tr>
        <th>Expérience du groupe</th>
        <td>{{ trip.get_group_xp_display}}</td>
    </tr>
    <tr>
        <th>Conditions météo</th>
        <td>{{ trip.get_weather_display}}</td>
    </tr>
    <tr>
        <th>Difficulté ressentie</th>
        <td>{{ trip.difficulty_felt }}/5</td>
    </tr>
</table>
<a href="{% url 'itin:detail_route' route.id%}">
    <button class="button-31">Retour aux sorties de {{ trip.route }}</button>
</a>

<h2>Images</h2>

{% if photos %}
<div class="d-block w-50">
   <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

            {% for photo in photos %}
              <!-- Single item -->
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ photo.image.url }}" class="d-block w-100">
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% else %}
    <p> Pas encore de photos pour cette sortie.</p>
{% endif %}


{% if user == trip.user%}
    <a href="{% url 'itin:new_image' trip.id%}">
        <button class="button-31">Ajouter des images</button>
    </a>
{% endif %}

<h2>Commentaires</h2>

<!--Form-->
<form method="post" >
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Partager</button>
</form>

{% if comments %}
    <table>
        <tr>
            <th>Par</th>
            <th>Le</th>
            <th>Description</th>
        </tr>
        {% for comment in comments %}
            {% if comment.mod_status == 'PU' %}
                <tr>
                    <td>{{ comment.author }}</td>
                    <td>{{ comment.pub_date }}</td>
                    <td>{{ comment.description }}</td>
                </tr>
            {% elif comment.mod_status == 'PR' and comment.author == request.user %}
                <tr>
                    <td>{{ comment.author }}</td>
                    <td>{{ comment.pub_date }}</td>
                    <td>{{ comment.description }}</td>
                </tr> 
            {% elif comment.mod_status == 'HI' %}
                {% if comment.author == request.user or trip.user == request.user %}
                <tr>
                    <td>{{ comment.author }}</td>
                    <td>{{ comment.pub_date }}</td>
                    <td>{{ comment.description }}</td>
                </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
{% else %}
    <p class="rawtext">Pas encore de commentaires. <br> Soyez le premier à ajouter
    un commentaire pour cette sortie. </p>
{% endif %}

{% endblock %}